<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aparecer.css">
    <link rel="icon" type="image/png" href="/img/icon.png">
</head>
<body class="d-flex flex-column">
<%- include('partials/nav-logged') %>

<main class="container flex-grow-1 main-content my-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md mb-4">
          <div class="card animar-criacao">
              <div class="card-body">
                <form id="cardCreator">
                  <div class="row">
                    <div class="mb-3 col-md-4">
                      <label for="nameProduct" class="form-label">Nome do produto</label>
                      <input id="nameProduct" class="form-control" type="text" name="nameProduct">
                    </div>
                    <div class="mb-3 col-md-4">
                      <label for="priceProduct" class="form-label">Preço do produto</label>
                      <input id="priceProduct" class="form-control" type="text" name="priceProduct">
                    </div>
                    <div class="mb-3 col-md-4">
                      <label for="categoryProduct" class="form-label">Categoria do produto</label>
                      <input id="categoryProduct" class="form-control" type="text" name="categoryProduct">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="qtdProduct" class="form-label">Quantidade do produto</label>
                      <input class="form-control" type="number" name="qtdProduct" id="qtdProduct" oninput="validateNumber(this)">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="dateProduct" class="form-label">Vencimento do produto</label>
                      <input class="form-control" type="date" name="dateProduct" id="dateProduct">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="fornecedorProduct" class="form-label">Fornecedor do produto</label>
                      <input id="fornecedorProduct" class="form-control" type="text" name="fornecedorProduct">
                    </div>
                  </div>
                  <p style="display: none;" id="id"><%= id %></p>
                  <div class="d-grid gap-2">
                    <input style="font-size: 125%;" class="btn btn-primary" id="criarObjeto" type="submit" value="Criar produto">
                  </div>
                </form>
              </div>
              <div id="popup" class="popup" style="display: none;">
                Objeto criado com sucesso!
              </div>
          </div>
      </div>
    </div>
    <div class="container my-2">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Título</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Validade</th>
              <th>Categoria</th>
              <th>Fornecedor</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="objetoContainer">
            <% produtos.forEach(card => { %>
            <tr>
                <td><%= card.titulo %></td>
                <td>R$: <%= card.preco %></td>
                <td><%= card.quantidade %></td>
                <td><%= card.validade %></td>
                <td><%= card.categoria %></td>
                <td><%= card.fornecedor %></td>
                <td class="d-flex justify-content-between">
                  <p style="display:none" id="idProduto"> <%= card._id %> </p>
                  <button class="btn btn-danger deletar">Apagar</button>
                </td>
            </tr>
            <% }); %>
          </tbody>
        </table>       
    </div>
  </div>
</main>

<%- include('partials/footer') %>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>